body {
  overflow-x: hidden;
  margin: 0; 
  padding: 0;}
 
.menu {
  height: 84px;
  width: 100%;
  top: 0;
  background-color: #007765;
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
  
.logo{
  display: inline-block;
  vertical-align: middle;
  padding: 20px 502px 19px 55px;
}

.links {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
  

a {
  font-size: 29px;
  padding: 28px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #003364;
  text-decoration: none;
}

li,
ul
  {
   display: inline-block;
  }

.conteiner_piper {
  box-sizing: border-box;
  max-width: 1219px;
  padding-left: 55px;
  padding-right: 55px;
}
  
.piper {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url('imges/image-8.png');
  background-size: cover;
  background-position: center center;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 72px;
  text-align: center;
  color: #fff;
}

.problem{
  box-sizing: border-box;
  background-color: white;
  padding: 20px 55px 90px;
   
}


h2 {
  margin: 75px;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  color: #007765; 
 }


p {
  font-family:  Roboto, sans-serif;
  padding: 0;
  font-size: 32px;
  }

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
    
.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url('imges/image-1.png');
  background-size: cover;
  background-position: center center;
}
    
.text__hero {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff
}

.intro {
  background-color: #FFFFFF;
  margin: 0;
}
    
  
    
.intro img {
  width: 115px;
  height: 115px;
  padding-right:48px;
  float: left;
}
    
.razdelitel {
  padding-top: 30px;
}
    
.content-intro {
  padding-top: 6px;
}

.team {
  background-color: #EEEEEE;
  margin: 0;
  padding: 20px 55px ;
}
    
.member-card {
  width: 350px;
  height: 280px;
  text-align: center;
}
    
.member-card figcaption {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #007765;
  line-height: 28px;  
}
    
.member-card span {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
}
    
.member-card img {
  width: 180px;
  height: 180px;
}
    
.up {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
    
.down {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
    
#footer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
    
.content-footer {
  width: 540px;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 65px;
}
    
.content-footer p {
  color:#FFFFFF;
  font-size: 18px;
  font-weight: 400;
}



      
  
     

   
 
  
